@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Bold.ttf') format('truetype');
    font-weight: 700;
}

.App {
    text-align: center;
    min-height: 100vh;
    background: url('../test.jpg') center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 66.5px;
}

.Title {
    font-family: 'Pretendard';
    font-size: 48px;
    font-weight: bold;
    margin-top: 100px;
}

body {
    margin: 0;
    color: white;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
    height: 100%;
}
